<% provide(:title, 'RV News') %>
  
<section id="promotional">
  <ul class="polaroids-page" style="width:450px; background:white;">
    <li>
      <a title="Thanks to all our customers"><%= image_tag "best_full_image.jpg" %></a>
    </li>
  </ul>
		
  <div id="selections">
    <h2>Best of the Best 2012 Nomination</h2>
    <p>Thanks to our customers for nominating us for the North Georgia Best of the Best award. We're honored that we have earned your trust and will continue to work hard for you!</p>
  </div>
		
</section>