<% provide(:title, 'RV News') %>
 
<div class="row">
   <div class="span6">
    <ul class="polaroids-page" style="background:white; margin-top: 20px;">
      <li>
        <a title="New Grey Wolf Travel Trailer Line"><%= image_tag "news-greywolf.jpg" %></a>
      </li>
    </ul>
  </div> 

  <div class="span5"> 
    <div id="selections">
      <h2>Forest River Grey Wolfs are coming!</h2>
      <p>We have new Forest River Grey Wolf Travel Trailers arriving next week. The Grey Wolf by Cherokee is engineered with impeccable quality, distinctive features, superior comfort and remarkable affordability. Come see for yourself!</p>
    </div>
  </div>
</div>

<div class="row"> 
  <div class="span6">
    <ul class="polaroids-page" background:white; margin-top: 20px;">
      <li>
        <a title="Thanks to all our customers"><%= image_tag "best_full_image.jpg" %></a>
      </li>
    </ul>
	</div>

  <div class="span5">
    <div id="selections">
      <h2>Best of the Best 2012 Nomination</h2>
      <p>Thanks to our customers for nominating us for the North Georgia Best of the Best award. We're honored that we have earned your trust and will continue to work hard for you!</p>
    </div>
	</div>
</div>