<% provide(:title, 'RV Parts and Accessories') %>
  
<div class="row">
  <div class="span6">
    <ul class="polaroids-page" background:white; margin-top: 20px;">
      <li>
        <a title="Visit Our Parts Department"><%= image_tag "parts.jpg" %></a>
      </li>
    </ul>
  </div>
  <div class="span5">
    <div id="selections">
      <h2>Service After the Sale</h2>
      
      <p>It's only natural for things to break over time. Before you hit the road, it is important to inspect your RV and make sure that every component is in tip-top shape.</p> 

      <p>Whether your RV needs a new door latch or window crank, you can find it in our parts department located in Chatsworth or we will deliver it to our Ringgold location for pick-up.</p>

      <p>We also stock other RV maintenance essentials such as:</p>
      <ul>
      	<li>RV Sewer & Sanitation Supplies</li>
        <li>RV Roof Maintenance & Repair Supplies</li>
        <li>RV Fans, Vents, Covers</li>
        <li>RV Replacement Hardware</li>
        <li>RV Generators</li>
        <li>RV Hitches, Sway Bars, Towing Accessories</li>
        <li>Winterizing Supplies and Hardware</li>
      </ul>

      <p>If it’s a repair part you are looking for that is not in stock, we will be glad to special order the part you need so that you can get back on the road again as quickly as possible!</p>

    </div>
  </div>
</div>
