<% provide(:title, 'Parts') %>
  
<section id="promotional">
  <ul class="polaroids-page" style="width:450px; background:white;">
    <li>
      <a title="Visit Our Parts Department"><%= image_tag "parts.jpg" %></a>
    </li>
  </ul>
  <div id="selections">
    <h2>Service After the Sale</h2>
    <p>United RVs stocks parts for all models we sell to repair your vehicle. Our  department is staffed with highly trained technicians who will properly identify the part you need.</p>
    <p>We can also special order any specialized hard-to-find parts to get you quickly back out on the road. Give us a call to get started. </p>
    
    <p>United RV maintain a complete line of camping accessories so you'll have everything you need for your next camping trip or adventure:</p><br />
    <ul>
      <li>Kitchen Equipment</li>
      <li>Patio Furniture</li>
      <li>Bathroom Supplies</li>
      <li>Books and Games</li>
      <li>And More...</li>
    </ul>
    
  </div>
</section>