<% provide(:title, 'Services') %>

<section id="promotional">

  <ul class="polaroids-page" style="width:450px; background:white;">
    <li>
      <a title="Worry-Free Travel"><%= image_tag "service.jpg" %></a>
    </li>
  </ul>

  <div id="selections">
    <p>In addition to new and used RVs, we also offer complete storage, setup and repair solutions.<p>
    <h2>RV Storage</h2>
    <p>Need a safe place to store your RV for the winter or while you're away? United RV offers a complete storage solution at our Chatsworth location. Call us today for details. </p>
  
    <h2>Curt & Reese Certified Hitch Dealer</h2>
    <p>We are certified for Curt and Reese hitch sales and instillations. Use our expertise for the right setup for you. </p>
  
    <h2>Insurance Estimates and Repairs</h2>
    <p>Recently been in an accident or suffered storm damage to your RV? we work with your insurance company to get you repaired and back on the road as quickly as possible.</p>
  </div>

</section>