<div id="camper-fields" class="users">
<h2>New Camper Entry</h2>
<br />

<%= nested_form_for @camper, :html=>{:multipart => true } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'fields', :f => f %>
	
	<div id="sign-up" class="actions">
		<%= f.submit "Create RV" %>

	</div>
<% end %>
